hr {
	border: 1px solid #555555;
	color: #555555;
	background-color: #555555;
}

table.tabela_pedidos_atendidos, .tabela_pedidos_atendidos tr, .tabela_pedidos_atendidos td, .tabela_pedidos_atendidos th, 
table.tabela_pedidos_pendentes, .tabela_pedidos_pendentes tr, .tabela_pedidos_pendentes td, .tabela_pedidos_pendentes th {
	border-collapse: collapse;
	border: 1px solid #555555;
}

table {
	width: 100%;
}

.tabela_pedidos_atendidos th {
	background-color: #006AE3;
}

.tabela_pedidos_atendidos tr:nth-child(even) {
	background-color: #0050AB;
}

.tabela_pedidos_atendidos tr:nth-child(odd) {
	background-color: #003878;
}

.tabela_pedidos_pendentes th {
	background-color: #E00065;
}

.tabela_pedidos_pendentes tr:nth-child(even) {
	background-color: #A8004C;
}

.tabela_pedidos_pendentes tr:nth-child(odd) {
	background-color: #700032;
}

.atualizar {
	background-image: url('../img/reload.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 25px;
}

.texto-pequeno {
	font-size: small;
	font-weight: normal;
	white-space: normal;
}

.preco {
	font-size: large;
}

.breadcrumbs-cardapio {
	background-image: url('../img/seta.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 20px;
	padding-right: 5px;
}

.voltar {
	background-image: url('../img/back.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 20px;
	padding-right: 5px;	
}

.imagem-item {
	float: left;
	margin: 0 10px 10px 0;
}

.titulo {
	color: #ff6c00;
	font-size: small;
	font-weight: normal;
	white-space: normal;
}

.laranja {
	color: #ff6c00;
}

.ativo {
	background-image: none;
	background-color: #179b1f;
}

.sub-menu-ativo {
	background-image: none;
	background-color: #179b1f;
}

.sub-menu-ativo .ui-btn-text {
	color: #fff;
}

.ui-content {
	padding-bottom: 40px;
}

.cancelado th, .cancelado td {
	background-color: #ff0000;
}